{% load crispy_forms_tags %} 
{% load static %} 
{% get_static_prefix as mystatic%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ mystatic }}css/bootstrap.min.css" />
    <title>Password Reset</title>
  </head>

  <body>
    <div class="container">
      <div class="text-center">
        <img
          src="{% static '/img/logo.png' %}"
          style="margin-bottom: -70px; margin-top: -60px"
        />
      </div>
      <form class="col-lg-5 mx-auto border p-3 bg-white" method="POST">
        <h4 class="text-center">Password Reset</h4>
        {% csrf_token %}
        <div>
          {{ form | crispy }}
          <div class="clearfix">
            <button type="submit" class="btn w-100 mt-3 text-white btn-info">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
